<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_diet_guidelines.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_diet_guidelines.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="side-navbar">
        <ul class="side-navitems">
            <a href="#">Dairy</a>
            <a href="#">Meats</a>
            <a href="#">Fruits/Nuts</a>
            <a href="#">Vegetables</a>
            <a href="#">Grains</a>
            <a href="#">Beverages</a>
            <a href="#">Desserts</a>
            <a href="#">Fats</a>
            <a href="#">Other</a>
        </ul>
    </div>
    <div class="header">
        <h1>Diet Guidelines for Immunosuppressed Patients</h1>
    </div>
    <main>
        <div class="intro">
            <p>You may have decreased immune function because of chemotherapy and/or radiation therpay or from taking medciations to suppress
                your immune system. This means that you are at increased risk of developing a food-related infection. 
                The purpose of this diet is to help you avoid specific foods that are more likely to contain infection-causing organisms while allowing maximum healthy food choices. 
                Choose foods from the "May eat" column and don't choose foods in the "Do Not Eat" column. 
                You may want to discuss the sfaety of these or other foods with your dietitian or care team.
            </p>
        </div>
        <div class="food-group-table" id="dairy">
            <div class="food-group">
                <h4 class="table-header">Food Group</h4>
                <h4 class="table-name">Diary</h4>
            </div>
            <div class="may-eat food-div">
                <h4 class="table-header">You May Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat numquam suscipit adipisci dolorum sequi. Earum voluptas omnis veniam rem necessitatibus eum esse est dolorem aliquid! Assumenda architecto sequi cupiditate inventore!</p>
            </div>
            <div class="not-eat food-div">
                <h4 class="table-header">Do Not Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas odio voluptatem quas unde non quisquam ad. Incidunt, soluta. Temporibus non porro excepturi at ut asperiores accusantium dolorem ea ullam neque.</p>
            </div>
        </div>

        <div class="food-group-table" id="dairy">
            <div class="food-group">
                <h4 class="table-header">Food Group</h4>
                <h4 class="table-name">Diary</h4>
            </div>
            <div class="may-eat food-div">
                <h4 class="table-header">You May Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat numquam suscipit adipisci dolorum sequi. Earum voluptas omnis veniam rem necessitatibus eum esse est dolorem aliquid! Assumenda architecto sequi cupiditate inventore!</p>
            </div>
            <div class="not-eat food-div">
                <h4 class="table-header">Do Not Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas odio voluptatem quas unde non quisquam ad. Incidunt, soluta. Temporibus non porro excepturi at ut asperiores accusantium dolorem ea ullam neque.</p>
            </div>
        </div>

        <div class="food-group-table" id="dairy">
            <div class="food-group">
                <h4 class="table-header">Food Group</h4>
                <h4 class="table-name">Diary</h4>
            </div>
            <div class="may-eat food-div">
                <h4 class="table-header">You May Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat numquam suscipit adipisci dolorum sequi. Earum voluptas omnis veniam rem necessitatibus eum esse est dolorem aliquid! Assumenda architecto sequi cupiditate inventore!</p>
            </div>
            <div class="not-eat food-div">
                <h4 class="table-header">Do Not Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas odio voluptatem quas unde non quisquam ad. Incidunt, soluta. Temporibus non porro excepturi at ut asperiores accusantium dolorem ea ullam neque.</p>
            </div>
        </div>

        <div class="food-group-table" id="dairy">
            <div class="food-group">
                <h4 class="table-header">Food Group</h4>
                <h4 class="table-name">Diary</h4>
            </div>
            <div class="may-eat food-div">
                <h4 class="table-header">You May Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat numquam suscipit adipisci dolorum sequi. Earum voluptas omnis veniam rem necessitatibus eum esse est dolorem aliquid! Assumenda architecto sequi cupiditate inventore!</p>
            </div>
            <div class="not-eat food-div">
                <h4 class="table-header">Do Not Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas odio voluptatem quas unde non quisquam ad. Incidunt, soluta. Temporibus non porro excepturi at ut asperiores accusantium dolorem ea ullam neque.</p>
            </div>
        </div>

        <div class="food-group-table" id="dairy">
            <div class="food-group">
                <h4 class="table-header">Food Group</h4>
                <h4 class="table-name">Diary</h4>
            </div>
            <div class="may-eat food-div">
                <h4 class="table-header">You May Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat numquam suscipit adipisci dolorum sequi. Earum voluptas omnis veniam rem necessitatibus eum esse est dolorem aliquid! Assumenda architecto sequi cupiditate inventore!</p>
            </div>
            <div class="not-eat food-div">
                <h4 class="table-header">Do Not Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas odio voluptatem quas unde non quisquam ad. Incidunt, soluta. Temporibus non porro excepturi at ut asperiores accusantium dolorem ea ullam neque.</p>
            </div>
        </div>

        <div class="food-group-table" id="dairy">
            <div class="food-group">
                <h4 class="table-header">Food Group</h4>
                <h4 class="table-name">Diary</h4>
            </div>
            <div class="may-eat food-div">
                <h4 class="table-header">You May Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat numquam suscipit adipisci dolorum sequi. Earum voluptas omnis veniam rem necessitatibus eum esse est dolorem aliquid! Assumenda architecto sequi cupiditate inventore!</p>
            </div>
            <div class="not-eat food-div">
                <h4 class="table-header">Do Not Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas odio voluptatem quas unde non quisquam ad. Incidunt, soluta. Temporibus non porro excepturi at ut asperiores accusantium dolorem ea ullam neque.</p>
            </div>
        </div>

        <div class="food-group-table" id="dairy">
            <div class="food-group">
                <h4 class="table-header">Food Group</h4>
                <h4 class="table-name">Diary</h4>
            </div>
            <div class="may-eat food-div">
                <h4 class="table-header">You May Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat numquam suscipit adipisci dolorum sequi. Earum voluptas omnis veniam rem necessitatibus eum esse est dolorem aliquid! Assumenda architecto sequi cupiditate inventore!</p>
            </div>
            <div class="not-eat food-div">
                <h4 class="table-header">Do Not Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas odio voluptatem quas unde non quisquam ad. Incidunt, soluta. Temporibus non porro excepturi at ut asperiores accusantium dolorem ea ullam neque.</p>
            </div>
        </div>

        <div class="food-group-table" id="dairy">
            <div class="food-group">
                <h4 class="table-header">Food Group</h4>
                <h4 class="table-name">Diary</h4>
            </div>
            <div class="may-eat food-div">
                <h4 class="table-header">You May Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat numquam suscipit adipisci dolorum sequi. Earum voluptas omnis veniam rem necessitatibus eum esse est dolorem aliquid! Assumenda architecto sequi cupiditate inventore!</p>
            </div>
            <div class="not-eat food-div">
                <h4 class="table-header">Do Not Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas odio voluptatem quas unde non quisquam ad. Incidunt, soluta. Temporibus non porro excepturi at ut asperiores accusantium dolorem ea ullam neque.</p>
            </div>
        </div>

        <div class="food-group-table" id="dairy">
            <div class="food-group">
                <h4 class="table-header">Food Group</h4>
                <h4 class="table-name">Diary</h4>
            </div>
            <div class="may-eat food-div">
                <h4 class="table-header">You May Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat numquam suscipit adipisci dolorum sequi. Earum voluptas omnis veniam rem necessitatibus eum esse est dolorem aliquid! Assumenda architecto sequi cupiditate inventore!</p>
            </div>
            <div class="not-eat food-div">
                <h4 class="table-header">Do Not Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas odio voluptatem quas unde non quisquam ad. Incidunt, soluta. Temporibus non porro excepturi at ut asperiores accusantium dolorem ea ullam neque.</p>
            </div>
        </div>

        <div class="food-group-table" id="dairy">
            <div class="food-group">
                <h4 class="table-header">Food Group</h4>
                <h4 class="table-name">Diary</h4>
            </div>
            <div class="may-eat food-div">
                <h4 class="table-header">You May Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat numquam suscipit adipisci dolorum sequi. Earum voluptas omnis veniam rem necessitatibus eum esse est dolorem aliquid! Assumenda architecto sequi cupiditate inventore!</p>
            </div>
            <div class="not-eat food-div">
                <h4 class="table-header">Do Not Eat</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas odio voluptatem quas unde non quisquam ad. Incidunt, soluta. Temporibus non porro excepturi at ut asperiores accusantium dolorem ea ullam neque.</p>
            </div>
        </div>
    </main>
</body>
</html>