* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    margin: 5% 5%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 2rem;
    background: radial-gradient(circle, rgba(11,119,152, 1) 40%, rgba(24,67,105, 1)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.symptom-container {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1.5rem;
}

.symptom {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    gap: 2rem;
}

label {
    font-size: 1.5rem;
}

input, select {
    padding: 1.25rem 1rem;
    font-size: 1;
    border: 1px solid black;
    border-radius: 1rem;
}

textarea {
    border: 1px solid black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 1rem 1.25rem;
    border-radius: 2rem;
    border: 1px solid black;
    background: linear-gradient(to right, rgb(69, 182, 73)  50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: 0.75s ease-out;
}

button:hover{
    color: white;
    background-position: left bottom;
    cursor: pointer;
    transition: 0.75s ease-out;
}
